.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media Queries*/

@media (min-width: 1400px /* --breakpoint-xxl */) {

  main {
    width: 1200px;
  }
}
