.cards-container {
  width: 100%;
}

.cards-scroll {
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 2rem;
}

.card-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &:first-of-type {
    margin-top: 10rem;
  }

  &.result {
    justify-content: flex-start;
  }
}

.card {
  display: flex;
  align-items: center;
  max-width: 60vw;
}

.card-text {
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--color-green-pale);
  color: var(--color-brown);

  &.result {
    background-color: var(--color-yellow-pale);
  }
}

.card-icon-outer {
  display: flex;
  justify-content: center;
  width: 60px;
  margin-right: .125rem;
}

.card-icon-inner {
  width: 14px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--color-yellow-pale);

  box-shadow:
    0 14px var(--color-yellow-pale),
    0 -14px var(--color-yellow-pale),
    14px 0 var(--color-yellow-pale),
    -14px 0 var(--color-yellow-pale),
    14px 14px var(--color-yellow-pale),
    -14px 14px var(--color-yellow-pale),
    14px -14px var(--color-yellow-pale),
    -14px -14px var(--color-yellow-pale);
  ;
}

@media (min-width: 1400px) {

  .card {
    max-width: 700px;
  }
}