.cards-container {
  width: 100%;
}

.cards-scroll {
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 2rem;
}

.card-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &:first-of-type {
    margin-top: 10rem;
  }

  &.result {
    justify-content: flex-start;
  }
}

.card {
  display: flex;
  align-items: center;
}

.icon-container {
  min-width: 24px;
  padding: .5rem;
  border: 1px solid var(--color-yellow-light);
  border-radius: 50%;
}

.icon-flow {
  display: flex;
  flex-wrap: wrap;
  width: 24px;

  & .icon-circle {
    width: 6px;
    height: 6px;
    border: 1px solid var(--color-yellow-light);
    border-radius: 50%;
  }
}

.card-text {
  max-width: 60vw;
  padding: 1rem 1.5rem;
  border-radius: .75rem;
  margin: 1rem;
  background-color: var(--color-green-light);
  color: var(--color-brown);

  &.result {
    background-color: var(--color-yellow-light);
  }
}

/* Media Queries*/

@media (min-width: 1400px) {

  .card-text {
    max-width: 700px;
  }
}
