.cards-container {
  width: 100%;
}

.cards-scroll {
  max-height: 80vh;
  overflow-y: auto;
}

.card-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &:first-of-type {
    margin-top: 10rem;
  }

  &.result {
    justify-content: flex-start;
  }
}

.card {
  display: flex;
  align-items: center;
}

.card-text {
  max-width: 60vw;
  padding: 1rem 1.5rem;
  border-radius: .75rem;
  margin: 1rem 0;
  background-color: var(--color-green-light);
  color: var(--color-brown);

  &.result {
    background-color: var(--color-yellow-light);
  }
}

/* Media Queries*/

@media (min-width: 1400px /* --breakpoint-xxl */) {

  .card-text {
    max-width: 700px;
  }
}
