.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header-content {
  padding: .5rem .5rem .5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-violet-dark);
}

.name {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--color-yellow-light);
}

.icon-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--color-yellow-light);
}

.icon-inner {
  width: 12px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--color-green-medium);

  box-shadow:
    0 12px var(--color-coral),
    0 -12px var(--color-coral),
    12px 0 var(--color-coral),
    -12px 0 var(--color-coral),
    12px 12px var(--color-violet-dark),
    -12px 12px var(--color-violet-dark),
    12px -12px var(--color-violet-dark),
    -12px -12px var(--color-violet-dark)
  ;
}

.message-background {
  background-color: var(--color-coral);
}

.message-container {
  text-align: center;
  padding: .5rem 1rem;
}

.message-text {
  color: var(--color-black);

  a {
    color: var(--color-black);
  }

  .chrome-dev {
    font-style: italic;
  }
}

.button-close {
  display: inline-flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--color-violet-dark);
  border-radius: 50%;
  margin-left: .5rem;
  background-color: var(--color-violet-dark);
}

.button-close:focus,
.button-close:hover {
  outline: 2px solid var(--color-violet-dark);
  outline-offset: 2px;
}

polygon {
  fill: var(--color-yellow-light);
}