header {
  position: fixed;
  z-index: 1;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-violet-dark);
}

.name {
  margin-left: 2rem;
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--color-yellow-light);
}

.icon-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-right: .5rem;
  background-color: var(--color-yellow-light);
}

.icon-inner {
  width: 12px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--color-green-medium);

  box-shadow:
    0 12px var(--color-coral),
    0 -12px var(--color-coral),
    12px 0 var(--color-coral),
    -12px 0 var(--color-coral),
    12px 12px var(--color-violet-dark),
    -12px 12px var(--color-violet-dark),
    12px -12px var(--color-violet-dark),
    -12px -12px var(--color-violet-dark)
  ;
}
