.loader-dot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader-dot {
  width: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-left: 1.5rem;
  animation-name: loader-keyframes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loader-keyframes {
  0% {
    background-color: var(--color-brown);
    box-shadow:
      1.5rem 0 var(--color-brown),
      -1.5rem 0 var(--color-brown-transparent);
  }
  33.3% {
    background-color: var(--color-brown-transparent);
    box-shadow:
      1.5rem 0 var(--color-brown),
      -1.5rem 0 var(--color-brown-transparent);
  }
  66.6% {
    background-color: var(--color-brown-transparent);
    box-shadow:
      1.5rem 0 var(--color-brown-transparent),
      -1.5rem 0 var(--color-brown);
  }
  100% {
    background-color: var(--color-brown);
    box-shadow:
      1.5rem 0 var(--color-brown-transparent),
      -1.5rem 0 var(--color-brown);
  }
}
