.user-prompt {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.user-input-form {
  display: flex;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 3rem;
  background-color: var(--color-blue-light);
}

.user-input-textarea-container {
  display: flex;
  padding: .875rem 0;
}

.user-input-textarea {
  width: 70vw;
  max-width: 700px;
  height: 1rem;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: transparent;

  &::placeholder {
    color: var(--color-blue-dark);
  }
}

.loader-container {
  width: 70vw;
  max-width: 700px;
  padding-left: .25rem;
}

.loader {
  width: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-left: 1.5rem;
  animation-name: loader-keyframes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.submit-button-container {
  margin-left: .75rem;
}

.submit-button {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-yellow-medium);

  &:disabled {
    cursor: default;
    background-color: var(--color-gray-light);
  }

  &:hover:not(:disabled),
  &:focus {
    outline: 3px solid var(--color-white);
    outline-offset: 3px;
    background-color: var(--color-green-medium);

    & .submit-button-icon {
      color: var(--color-white);
    }
  }
}

.submit-button-icon {
  font-size: 2.5rem;
  color: var(--color-green-medium);

  &.disabled {
    color: var(--color-gray);
  }
}

@keyframes loader-keyframes {
  0% {
    box-shadow: 1.5rem 0 var(--color-brown), -1.5rem 0 var(--color-brown-transparent);
    background-color: var(--color-brown)
  }
  33.3% {
    box-shadow: 1.5rem 0 var(--color-brown), -1.5rem 0 var(--color-brown-transparent);
    background-color: var(--color-brown-transparent)
  }
  66.6% {
    box-shadow: 1.5rem 0 var(--color-brown-transparent), -1.5rem 0 var(--color-brown);
    background-color: var(--color-brown-transparent)
  }
  100% {
    box-shadow: 1.5rem 0 var(--color-brown-transparent), -1.5rem 0 var(--color-brown);
    background-color: var(--color-brown)
  }
}
