.user-prompt {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.user-input-form {
  display: flex;
  justify-content: space-between;
  padding: 1rem .875rem 1rem 2rem;
  border-radius: 2.5rem;
  background-color: var(--color-blue-medium-light);

  &:hover,
  &.text-area-focused {
    background-color: var(--color-blue-light);

    & .user-input-textarea-container .user-input-textarea::placeholder {
      color: var(--color-blue-dark);
    }
  }
}

.user-input-textarea-container {
  display: flex;
  width: 70vw;
  max-width: 14rem;
}

.user-input-textarea {
  flex: 1;
  overflow: hidden;
  height: 1rem;
  padding: .875rem 0;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;

  &::placeholder {
    color: var(--color-blue-darker);
  }
}

.button-container-user-input {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: .75rem;
}

.button-user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: var(--color-white) solid 3px;
    outline-offset: 3px;
  }
}

.button-user-input.start {
  background-color: var(--color-yellow-medium);

  &:hover,
  &:focus {
    background-color: var(--color-green-medium);

    & .button-icon-user-input {
      border-left-color: var(--color-white);
    }
  }
}

.button-user-input.stop {
  background-color: var(--color-blue-lighter);

  &:hover,
  &:focus {
    background-color: var(--color-coral);

    & .button-icon-user-input {
      background-color: var(--color-white);
    }
  }
}

.button-icon-user-input.start {
  position: relative;
  left: .125rem;
  border-style: solid;
  border-width: .625rem 0 .625rem 1rem;
  border-color: transparent transparent transparent var(--color-green-medium);
}

.button-icon-user-input.stop {
  width: 1.25rem;
  aspect-ratio: 1 / 1;
  background-color: var(--color-coral);
}

/* Media Queries*/

@media (min-width: 576px /* --breakpoint-sm */) {

  .user-input-textarea-container {
    max-width: 44rem;
  }
}
