.user-prompt {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.user-input-form {
  display: flex;
  justify-content: space-between;
  padding: 1rem .875rem 1rem 2rem;
  border-radius: 2.5rem;
  background-color: var(--color-blue-medium-light);

  &:hover,
  &.text-area-focused {
    background-color: var(--color-blue-light);

    & .user-input-textarea-container .user-input-textarea::placeholder {
      color: var(--color-blue-dark);
    }
  }
}

.user-input-textarea-container {
  display: flex;
  width: 70vw;
  max-width: 14rem;
  padding: .875rem 0;
}

.user-input-textarea {
  flex: 1;
  overflow: hidden;
  height: 1rem;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;

  &::placeholder {
    color: var(--color-blue-darker);
  }
}

.submit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: .75rem;
}

.submit-button {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &.start {
    background-color: var(--color-yellow-medium);

    &:hover:not(:disabled),
    &:focus {
      background-color: var(--color-green-medium);
    }
  }

  &.stop {
    background-color: var(--color-blue-lighter);

    &:hover:not(:disabled),
    &:focus {
      background-color: var(--color-coral);
    }
  }

  &:hover:not(:disabled),
  &:focus {
    outline: var(--color-white) solid 3px;
    outline-offset: 3px;

    & .submit-button-icon {
      color: var(--color-white);
    }
  }

  &:disabled {
    cursor: default;
    background-color: var(--color-gray-light);

    & .submit-button-icon {
      color: var(--color-gray);
    }
  }
}

.submit-button-icon {
  font-size: 2.5rem;

  &.start {
    color: var(--color-green-medium);
  }

  &.stop {
    color: var(--color-coral);
  }
}

/* Media Queries*/

@media (min-width: 576px /* --breakpoint-sm */) {

  .user-input-textarea-container {
    max-width: 44rem;
  }
}
