.user-prompt {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.user-input-form {
  display: flex;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 3rem;
  background-color: var(--color-blue-light);
}

.user-input-textarea-container {
  display: flex;
  padding: .875rem 0;
}

.user-input-textarea {
  width: 70vw;
  max-width: 700px;
  height: 1rem;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: transparent;

  &::placeholder {
    color: var(--color-blue-dark);
  }
}

.submit-button-container {
  margin-left: .75rem;
}

.submit-button {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-yellow-medium);

  &:disabled {
    cursor: default;
    background-color: var(--color-gray-light);
  }

  &:hover:not(:disabled),
  &:focus {
    outline: 3px solid var(--color-white);
    outline-offset: 3px;
    background-color: var(--color-green-medium);

    & .submit-button-icon {
      color: var(--color-white);
    }
  }
}

.submit-button-icon {
  font-size: 2.5rem;
  color: var(--color-green-medium);

  &.disabled {
    color: var(--color-gray);
  }
}
