/* Responsive Breakpoints for reference */
/* --breakpoint-sm: 576px; */
/* --breakpoint-md: 768px; */
/* --breakpoint-lg: 992px; */
/* --breakpoint-xl: 1200px; */
/* --breakpoint-xxl: 1400px; */

:root {

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #808080;
  --color-gray-light: #d3d3d3;
  --color-blue-dark: #0000b3;
  --color-blue-light: #87ceeb;
  --color-yellow-medium: #f9d58b;
  --color-yellow-light: #ded9b2;
  --color-coral: #f76565;
  --color-green-medium: #338a3e;
  --color-green-light: #aaeba0;
  --color-brown: #331111;
  --color-brown-transparent: rgb(51 17 17 / 33%);
  --color-violet-dark: #313b7d;
}
