/* Responsive Breakpoints for reference */
/* --breakpoint-sm: 576px; */
/* --breakpoint-md: 768px; */
/* --breakpoint-lg: 992px; */
/* --breakpoint-xl: 1200px; */
/* --breakpoint-xxl: 1400px; */

:root {

  /* Colors Grayscale */
  --color-white: #fff;
  --color-black: #000;
  --color-application-light: #f5f5f5;
  --color-application-dark: #0d0d0d;
  --color-gray: #808080;
  --color-gray-light: #d3d3d3;

  /* Colors Hued */
  --color-blue-darker: #030387;
  --color-blue-dark: #0000b3;
  --color-blue-medium-light: #79b9d4;
  --color-blue-light: #87ceeb;
  --color-blue-lighter: #c8f1fc;
  --color-yellow-medium: #f9d58b;
  --color-yellow-light: #ded9b2;
  --color-coral: #f76565;
  --color-green-medium: #338a3e;
  --color-green-light: #aaeba0;
  --color-brown: #331111;
  --color-brown-transparent: rgb(51 17 17 / 33%);
  --color-violet-dark: #313b7d;
  --color-violet-dark-transparent: rgb(49 59 125 / 33%);
  --color-violet-light: #c59be3;

  /* Colors Primary and Secondary */
  --primary-color: var(--color-application-light);
  --secondary-color: var(--color-application-dark);
}
