@import url('./_variables');
@import url('./_user-prompt');

body {
  background-color: rgb(28, 181, 48);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  position: fixed;
  bottom: 0;
}

.cards-container {
  overflow-y: auto;
  max-height: 80vh;
}

.card {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: thistle;
}
