@import url('./_variables');
@import url('./_header');
@import url('./_user-prompt');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-green-kelly);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  position: fixed;
  bottom: 0;
}

.cards-container {
  max-height: 80vh;
  overflow-y: auto;
}

.card {
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--color-gray-muted);
  color: var(--color-brown);

  &:first-of-type {
    margin-top: 5rem;
  }
}
