@import url('./_variables');
@import url('./_app');
@import url('./_cards');
@import url('./_header');
@import url('./_loader');
@import url('./_nona-icon');
@import url('./_user-prompt');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-green-medium);
}
